.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 280px;
}

.header__menu {
  @include tablets {
    display: none;
 }
}

.header__socials {
  @include phones {
    display: none;
  }
}