.hero {
    margin-bottom: 250px;
}

.hero__container {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 60px 0 20px;
}

.hero__button {
    display: flex;
    justify-content: center;
    
}