.menu {
  &--color-white {
    color: #fff;
  }
}

.menu__list {
  display: flex;
  justify-content: center;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;

  &:hover{
    color: #fff;
  }
}

.menu__item {
    margin-right: 60px;
    
    &:last-child {
      margin-right: 0;
    }
}

.menu__link-footer {
  text-decoration: none;
  white-space: nowrap;

  &:hover{
    color: $text-color;
  }
}